* {
    color: #011627;
}

*[type="application/x-shockwave-flash"] {
    display: none;
}

p {
    margin: 10px 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:global(.article_content .content) {
    margin-top: 10px;
}

:global(.content img) {
    max-width: 100%;
}

:global(.content iframe) {
    max-width: 100%;
}