*[type="application/x-shockwave-flash"] {
    display: none;
}

p {
    margin: 10px 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article_content .content {
    margin-top: 10px;
}

.content img,
.content iframe {
    max-width: 100%;
}

.details-enter {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
}

.details-enter.details-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 250ms ease;
}

.details-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.details-leave.details-leave-active {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
    transition: 250ms ease;
}

/* Theme */
.light {
    background: white;
}

.light div,
.light a,
.light p,
.light h2 {
    color: #011627;
}

.dark {
    background: #00070e;
}

.dark div,
.dark a,
.dark p,
.dark h2 {
    color: #999;
}