* {
    color: #011627;
}

*[type="application/x-shockwave-flash"] {
    display: none;
}

p {
    margin: 10px 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article_content .content {
    margin-top: 10px;
}

.content img {
    max-width: 100%;
}

.content iframe {
    max-width: 100%;
}

.details-appear {
   opacity: 0;
   transform: translate(0, 40px);
}

.details-appear.details-appear-active {
   opacity: 1;
   transform: translate(0, 0);
   transition: 250ms ease;
}